langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
wikipedia
pymupdf
langchain-text-splitters
sentence-transformers
langchain_huggingface
streamlit
langchain_groq
langserve
sse_starlette
ddgs
pathlib
youtube_transcript_api
huggingface_hub
cassio
tiktoken
PyPDF2
langgraph
langchain_core 
langchain_classic
langchainhub
pydantic
langchain_google_genai
yt-dlp 
openai-whisper
ffmpeg-python
imageio-ffmpeg
pytubefix
pydub